.header__search {
  box-sizing: border-box;
  background: #e7e7e7;
  border: 1px solid #000000;
  border-radius: 48px;
  width: 333px;
  height: 29px;
  margin: 0 12px 0 12px;
  float: left;
  text-align: center;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
}
.header__search::after {
  background-image: url("../../../images/search.svg");
}
